*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: url(../img/fondo-reloj.jpg), center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.wrap {
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
}

.widget p {
    display: inline-block;
    line-height: 16px;
}

.fecha {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
    background:rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
}

.reloj {
    font-family: 'Oswald', Arial;
    width: 100%;
    padding: 20px;
    font-size: 64px;
    text-align: center;
    background:rgba(0, 0, 0, .5);
}

.reloj .cajaSegundos {
    display: inline-block;
}

.reloj .segundos, .reloj .ampm {
    font-size: 32px;
    display: block;
}